@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply h-full w-full;
}

body {
  background-color: black;
  color: white;
  margin: 0 auto;
  max-width: 1800px;
  font-family: "Inter", sans-serif;
  position: relative;
  @apply h-full w-full;
}

#root {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


.wave-group {
  @apply relative;
}
.wave-group .input {
  @apply text-base block w-full pl-[5px] pr-2.5 py-2.5 border-b-[#515151] border-[none] border-b border-solid;
  background: transparent;
}
.wave-group .input:focus {
  outline: none;
}
.wave-group .label {
  @apply text-[#999] text-lg font-[normal] absolute pointer-events-none flex left-[5px] top-2.5;
}
.wave-group .label-char {
  @apply transition-[0.2s] duration-[ease] ease-[all] delay-[calc(var(--index)_*_0.05s)];
}
.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  @apply -translate-y-5 text-sm text-[#5264AE];
}
.wave-group .bar {
  @apply relative block w-full before:left-2/4 after:right-2/4;
}

.wave-group .bar:before,
.wave-group .bar:after {
  @apply content-[''] h-0.5 w-0 absolute transition-[0.2s] duration-[ease] ease-[all] bottom-px;
  background: #5264ae;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  @apply w-6/12;
}
/*.timeline {
  flex: 0 0 800px;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.header {
  padding: 1.5rem 1rem;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2f3336;
}

.top-tweets {
  width: 1.5rem;
  height: auto;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.tweet-editor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #2f3336;
}

.avatar {
  flex: 0 0 70px;
  /*padding: 0 rem;*
}

.avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
}

.tweet-editor-form {
  flex: auto;
}

.tweet-editor-input {
  height: 60px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  resize: none;
  padding: 10px 0 0 0;
  margin: 13px 0;
}

.tweet-editor-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-editor-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*padding: 0.8rem 0;*
  gap: 1rem;
}
.tweet-editor-actions button {
  background-color: transparent;
  border: none;
}
.button {
  /* text-transform: capitalize;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: #1d9bf0;
  color: white;
  font-size: 1rem; 
  Ce CSS est renvoyé au composant "Button"*
}
.tweet {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #2f3336;
}

.tweet-avatar {
  /*height: 70px;*/
/*width: 70px;*
  flex: 0 0 70px;
}

.tweet-avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
}

.tweet-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
}

.tweet-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tweet-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  font-size: 1rem;
}

.tweet-title svg {
  width: 1.2rem;
  height: auto;
}

.tweet-title-author {
  font-size: 1rem;
}

.tweet-title-details {
  color: #6e767d;
}

.tweet-text {
  color: #d9d9d9;
  font-size: 1rem;
}

.tweet-image {
  width: 100%;
  padding: 0.3rem 0 0 0;
}

.tweet-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  border-color: #2f3336;
  border-style: solid;
  border-width: 1px;
}

.tweet-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: grey;
  font-size: 1rem;
}

.tweet-actions svg {
  width: 1rem;
  height: auto;
  color: #2f3336;
}

.tweet-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
*/
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}