.nav-sidebar {
  height: 100vh;
  /* width: 35%; */
  /* flex: 0 0 300px; */
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-sidebar ul {
  padding: 0.5rem 1rem 0 3rem;
}

.nav-sidebar ul li {
  list-style: none;
}

.nav-sidebar ul li a:not(.nav-sidebar ul li a.post-button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover {
  border-radius: 2rem;
  background-color: #1c1c1c;
}

.nav-sidebar ul li a.active {
  font-weight: bold;
}

.nav-sidebar ul li.post-button-li {
  width: 100%;
  margin-top: 10px;
}

.nav-sidebar ul li a.post-button {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  text-decoration: none;
}

.nav-sidebar ul li a.post-button .post-button--button {
  width: 100%;
}

.nav-sidebar ul li a img {
  width: 1.5rem;
}

.nav-sidebar ul li a span {
  color: #e7e9ea;
  font-size: 1.3rem;
}

.nav-sidebar .my-profil {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem 1rem 3rem;
  border-radius: 50px;
  width: 100%;
}

.nav-sidebar .my-profil:hover {
  background-color: #1c1c1c;
  /* background: rgba(255, 255, 255, .04); */
}

.my-profil-title-box {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background: #999; */
  /* background: rgba(255, 255, 255, .04); */
}

.my-profil-title-box .detail-title-profil {
  font-size: 1rem;
  line-height: 20px;
}

.my-profil-title-box .detail-title-profil .title-profil {
  font-weight: 700;
}

/* 

.trends .trends__who-follow-content:hover{
  background: rgba(255, 255, 255, .04);
}

.trends .trends__who-follow-content .link-to-profil{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.trends .trends__who-follow-content .link-to-profil .title-profil{
  display: flex;
  gap: 5px;
}

.trends .trends__who-follow-content .link-to-profil .title-profil:hover span{
  text-decoration: underline;
} */
